<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.methodDisplay" value="method"/>
    <add key="HaloApiUri" value="https://www.haloapi.com"/>
    <add key="SubscriptionKey" value="ef273017b79a4cbeb8646d1de7d1f598"/>
  </appSettings>
  <connectionStrings>
    <add name="MongoDb" connectionString="mongodb://localhost:27017"/>
  </connectionStrings>
</configuration>