@model GHaack.Halo.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("Index", "Player", FormMethod.Post, new { id = "playerForm" }))
    {
        @Html.ValidationSummary(true)

        <div class="form-inline">
            @Html.EditorFor(m => m.Player)
            <input type="submit" value="Get Stats" class="btn btn-default" />
        </div>
    }
</div>