@model GHaack.Halo.Web.Models.PlayerViewModel

@{
    ViewBag.Title = $"Stats for {Model.Player}";
}

<h2>Stats for @Model.Player</h2>
<hr />
<div ng-controller="PlayerController as playerCtrl"
     ng-init='playerCtrl.init(@Html.JsonFor(Model))'>
    
</div>
