<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HaloApiUri" value="https://www.haloapi.com/stats/h5"/>
    <add key="SubscriptionKey" value="ef273017b79a4cbeb8646d1de7d1f598"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>